---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$blue-logo:        #20d3ef;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"bootstrap",
"specific",
"font_awesome",
"rouge-base16-dark",
"style"
;

body {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #5bc0de;
  border: 0px none #ffffff;
  border-radius: 51px;
}
::-webkit-scrollbar-thumb:hover {
  background: #81daf5;
}
::-webkit-scrollbar-thumb:active {
  background: #51d7ff;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #f2f2f2;
}
::-webkit-scrollbar-track:active {
  background: #f2f2f2;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.docs-content {
  a.auto-anchor {
    color : #333 !important;
    &:hover {
      text-decoration:none;
    }
  }
  p:first-child {
    margin-top : 39px;
  }
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Open Sans', sans-serif;
}

table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}

table {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  width : 100%;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding: 7px 31px 5px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
  text-align: left;
  padding-left:20px;
}
table tr:first-child th:first-child {
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
table tr:first-child th:last-child {
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr {
  text-align: center;
  padding-left:20px;
}
table td:first-child {
  text-align: left;
  padding-left:12px;
  border-left: 0;
  font-weight: bold;
}
table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
  border-bottom:0;
}
table tr:last-child td:first-child {
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}

// CTAs things for redirect to new doc
.call-to-action-container {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  z-index: 1000;
  background-color : white;
  color: #3eb1f3;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #46b8da;
  position: fixed;
  bottom: 25px;
  margin: 10px;
  right: 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.call-to-action {
  margin-left: 50px;
  padding: 15px;
}
.icon-new-doc {
  position: absolute;
  height: 50px;
  width: 50px;
  background-size: 100%;
  background-image: url(/images/Icon@2x.jpg);
  background-repeat: no-repeat;
}
.call-to-action-container a:visited {
  color: #3eb1f3;
}
.container-background {
  min-height: 150px;
  background-size: 100%;
  background-image: url(/images/Banner@2x.jpg);
  background-repeat: no-repeat;
}
body.modal-open .modal {
  display: flex !important;
  height: 100%;
}

body.modal-open .modal .modal-dialog {
  margin: auto;
}
.modal-body {
  text-align: center;
  min-height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.modal-btn {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  font-size: .7777777777777778rem;
  line-height: 1em;
  background-clip: padding-box;
  text-decoration: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  margin: 10px auto;
}
.modal-btn a {
  padding: 15px 24px;
  width: 129.5px;
  height: 25px;
  border-radius: 2em;
  background-color: #3eb1f3;

}
.modal-backdrop {
  z-index: 0;
}
.modal-body .modal-btn p {
  font-size: 12px;
  text-align: center;
  color: #616161;
}
.modal-body .modal-btn a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
}
#title {
  padding: 15px 25px;
  margin-bottom: 20px;
  color: black;
}
#doc-modal {
  padding: 0px;
}
#modal-doc-btn{
  border-radius: 3em;
  width: auto;
}
#close {
  padding-right: 10px;
  padding-top: 10px;
  z-index: 1000;
  color: white;
  float: right;
  font-size: 20px;
  opacity: 0.8;
}
