<footer>
  <div class="section-background">
    <div class="section-wrapper">
      <div class="hexagon hexagon-10"></div>
      <div class="hexagon hexagon-11"></div>
    </div>
  </div>
  <div class="section-wrapper">
    <nav class="main-nav">
      <a href="{{ site.url }}" title="Go to home page" class="logo-link">
        <img alt="PM2 logo" src="{{ site.url }}/assets/logo.png" />
      </a>
      <div class="doc-links">
        <a href="{{ site.url }}/docs/usage/quick-start/" title="Go to Quick start">
          Quick start
        </a>
        <a href="{{ site.url }}/docs/usage/pm2-doc-single-page/" title="Go to Documentation">
          Documentation
        </a>
        <a
          href="{{ site.url }}/docs/usage/use-pm2-with-cloud-providers/"
          title="Go to Integrations"
        >
          Integrations
        </a>
      </div>
      <div class="button-border">
        <a
          href="{{ site.register_url }}"
          title="Get started"
          class="button accent-border border-corners big inner-shadows"
        >
          Get started
        </a>
      </div>
    </nav>
    <div class="below-nav">
      <div class="copyright">© 2019 PM2. All Rights Reserved.</div>
      <div>
        <a
          href="{{ site.url }}/assets/terms_conditions.pdf"
          title="Open Terms of Use"
          >Terms of Use</a
        >
        //
        <a
          href="{{ site.url }}/assets/privacy_policy.pdf"
          title="Open Privacy Policy"
          >Privacy Policy</a
        >
      </div>
    </div>
  </div>
</footer>
