<footer>
  <div class="section-background">
    <div class="section-wrapper">
      <div class="hexagon hexagon-10"></div>
    </div>
  </div>
  <div class="section-wrapper">
    <nav class="main-nav">
      <div>
        <a href="{{ site.url }}" title="Go to home page" class="logo-link">
          <img alt="PM2 logo" src="{{ site.url }}/assets/logo.png" />
        </a>
        <div class="social-links">
          <a href="https://github.com"><img src="{{ site.url }}/assets/github-icon.png"></a>
          <a href="https://facebook.com"><img src="{{ site.url }}/assets/facebook-icon.png"></a>
          <a href="https://twitter.com"><img src="{{ site.url }}/assets/twitter-icon.png"></a>
          <a href="https://linkedin.com"><img src="{{ site.url }}/assets/linkedin-icon.png"></a>
        </div>
        <p>© 2019 Keymetrics</p>
      </div>
      <div class="doc-links">
        <div>
          <div class="items-header">
            PM2.IO
          </div>
          <div>
            <a href="{{ site.url }}/docs/usage/quick-start/" title="Go to Quick start">
              Pricing
            </a>
          </div>
          <div>
            <a href="{{ site.url }}/docs/usage/quick-start/" title="Go to Quick start">
              Contact
            </a>
          </div>
          <div>
            <a href="{{ site.url }}/docs/usage/quick-start/" title="Go to Quick start">
              Blog
            </a>
          </div>
        </div>
        <div>
          <div class="items-header">
            Documentations
          </div>
          <div>
            <a href="{{ site.url }}/docs/usage/quick-start/" title="Go to Quick start">
              PM2 Runtime
            </a>
          </div>
          <div>
            <a href="{{ site.url }}/docs/usage/quick-start/" title="Go to Quick start">
              PM2 Plus
            </a>
          </div>
          <div>
            <a href="{{ site.url }}/docs/usage/quick-start/" title="Go to Quick start">
              PM2 Enterprise
            </a>
          </div>
        </div>
        <div>
          <div class="items-header">
            Legal
          </div>
          <div>
            <a href="{{ site.url }}/docs/usage/quick-start/" title="Go to Quick start">
              Terms & Conditions
            </a>
          </div>
          <div>
            <a href="{{ site.url }}/docs/usage/quick-start/" title="Go to Quick start">
              Privacy Policy
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-51734350-5', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');
</script>
<script type="text/javascript" src="{{ site.url }}/assets/jquery.min.js"></script>
<script type="text/javascript">

  $( document ).ready(function () {
    $(".moreBox").slice(0, 3).show();
      if ($(".blogBox:hidden").length != 0) {
        $("#loadMore").show();
      }   
      $("#loadMore").on('click', function (e) {
        e.preventDefault();
        $(".moreBox:hidden").slice(0, 3).slideDown();
        if ($(".moreBox:hidden").length == 0) {
          $("#loadMore").fadeOut('slow');
        }
      });
    });
</script>

<script>
  window.onscroll = function() {myFunction()};

  var header = document.getElementById("list-header");
  var sticky = header.offsetTop;

  function myFunction() {
    if (window.pageYOffset > 500 && window.pageYOffset < 1400) {
      header.classList.add("sticky");
      header.style.display = "inline-flex";
    } else {
      header.classList.remove("sticky");
      header.style.display = "none";
    }
  }
</script>