<header id="menu">
  <div class="section-wrapper">
    <nav>
      <a href="{{ site.url }}" title="Go to home page" class="logo-link">
        <img alt="PM2 logo" src="./assets/logo.png" />
      </a>
      <div class="menu">
        <a
          title="Open menu"
          href="#menu"
          class="button accent-border border-corners inner-shadows menu-button"
        >
          <div class="menu-icon"></div>
        </a>
        <a class="menu-overlay" href="#" title="Close the menu"></a>
        <div class="menu-content">
          <div class="doc-links">
            <a href="/docs/usage/quick-start/" title="Go to Quick start">
              Quick start
            </a>
            <a
              href="/docs/usage/pm2-doc-single-page/"
              title="Go to Documentation"
            >
              Documentation
            </a>
            <a
              href="/docs/usage/use-pm2-with-cloud-providers/"
              title="Go to Integrations"
            >
              Integrations
            </a>
          </div>
          <a
            href="{{ site.register_url }}"
            title="Get started"
            class="button accent-border border-corners inner-shadows"
          >
            Get started
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
