{% capture title %}
  {% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }} - Advanced Node.js process manager{% endif %}
{% endcapture %}
{% capture description %}
  {% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}
{% endcapture %}
{% capture url %}
  {{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}
{% endcapture %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="copyright" content="Keymetrics Inc." />
<meta name="description" content="{{ description | strip | escape }}">

<meta property="og:url" content="{{ url | strip | escape }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title | strip | escape }}" />
<meta property="og:description" content="{{ description | strip | escape }}" />
<meta property="og:image" content="https://raw.githubusercontent.com/unitech/pm2/master/pres/pm2.20d3ef.png" />
<meta name="google-site-verification" content="ELR1mLPjKnUWvC62UIAp4fpVUvO4ToECWOK_jb922bI" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@keymetrics_io" />
<meta name="twitter:title" content="{{ title | strip | escape }}" />
<meta name="twitter:description" content="{{ description | strip | escape }}" />
<meta name="twitter:image:src" content="https://raw.githubusercontent.com/unitech/pm2/master/pres/pm2.20d3ef.png" />
<meta name="twitter:url" content="{{ url | strip | escape }}" />
<link rel="canonical" href="{{ url | strip | escape }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo:300,500,800|Roboto&display=swap">
<link rel="stylesheet" href="{{ site.url }}/assets/main.css" />
<link rel="icon" type="image/png" href="{{ site.url }}/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{ site.url }}/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="{{ site.url }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico" />

<title>{{ title | strip | escape }}</title>
