
@font-face {
    font-family: 'Blender';
    src: url("/fonts/blender/Blender-Thin.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Blender';
    src: url("/fonts/blender/Blender-Book.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Blender';
    src: url("/fonts/blender/Blender-Medium.woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Blender';
    src: url("/fonts/blender/Blender-Heavy.woff");
    font-weight: 600;
    font-style: normal;
}


.blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: white;
    }
}
