
body {
  background: #f2f2f2;
  color : #333;
  margin-bottom: 250px;
}

html {
  position: relative;
  min-height: 100%;
}

.home-page {
  background: #161616 url("../images/pattern.png");
  color : white;
  font-family : 'Blender';

  .pm2-tick-list {
    a {
      color : #70EC57;
      &:hover {
        font-weight : bold;
        font-size : 80%;
        text-decoration : none;
      }
    }

  }
  pre {
    background-color: black;
    text-align : left;
    color: white;
    border: none;
    border-radius : 0;
    border: 1px solid #5cb3c3;
    font-size: 20px;
  }
}

pre {
  background-color: black;
  text-align : left;
  color: white;
  border: none;
  border-radius : 0;
  border: 1px solid #5cb3c3;
  font-size : 13px;
}

.edit-this-page {
  color: #333 !important;
  margin-top: 17px;
  font-size: 14px;
}

a[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: " \f08e";
}
//logos

.logo {
  background: url("../images/logo_pm2_little.png") no-repeat center;
  width: 200px;
  margin-right: 30px;
}

// For HOMEPAGE
.index-page {
  font-size : 18px;
  h1 {
    font-size: 40px;
    font-weight: normal;
    line-height: 1;
    margin-top: 0px;
  }
  h2 {
    font-size: 40px;
    font-weight: normal;
    line-height: 1;
    margin-top: 0px;
  }

  .box-desc {
    text-align : center;
    p {
      width : 100%;
    }
    h2 {

    }
  }
}


//Vertical align

.vertical-align {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


//Header

.btn-monit {
  padding-top: 8px !important;
  padding-bottom: 0 !important;
  height : 50px;
  &:hover {
    background-color : none !important;
  }
}

.input-group .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
  color: #000000;
}

#search-results {
  background-color: #ffffff;
  position: absolute;
  padding: 0 10px;
  top: 59px;
  left: 15px;
  width: 263px;
  border: 1px solid #ccc;
  z-index: 9999;
  font-family : helvetica;

  .entries {
    article {
      h3 {
        font-size: 15px;
        line-height: 18px;
        margin: 11px 0px;
        a {
          color: #000000;
        }
      }
    }

  }
}

//Index

.navbar-pm2 {
  background-color : black;
  border-bottom : 1px solid #888888;
  font-family : 'Blender';
  a {
    color : white;
  }
  .li-github {
    a {
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }
}

.index-box {
  padding: 17px 0;
  display: block;

  .highlight-index {
    padding-left: 0;
  }

  .highlight .k {
    font-weight: normal;
  }
}


.pm2-user-container {
  .pm2-user {
    margin-top: 50px;
    margin-bottom: 40px;
    img {
      max-width: 270px;
      max-height: 69px;
      width: auto;
      height: auto;
      margin: 40px auto 10px;
    }
  }
}


.btn-wrapper {
  padding: 12px;

  a {

  }

  .btn-featured {
    background: #0f262a;
    border: 1px solid #5cb3c3;
    border-radius: 5px;
    padding: 14px;

    color : white;
    font-size: 36px;
    padding: 10px 32px;
    white-space: normal;
  }

  .btn-featured:hover {
    background: black;

  }
}

.btn-featured:not(:first-child) {
  margin-left: 12px;
}

.index-devider {
  margin: 20px 0;
}

.header-title {
  background: #161616 url("../images/pattern.png");
  color : white;
  font-family : 'Blender';
  height : 90px;

  h1 {
    margin-top: 24px;
    font-size : 37px;
  }
}

ul.pm2-tick-list li {
  color: #70EC57;
  list-style-type: none;
  padding-left: 0;
}

ul.pm2-tick-list li::before {
  content: "✓";
  font-weight: bold;
  padding-right: 10px;
}

//testimonial

.oval-quotes::before {
  color: #666;
  content: "“";
  font: 80px/1 Georgia,serif;
  left: -30px;
  position: absolute;
  top: -30px;
  z-index: 1;
}
.oval-quotes::after {
  bottom: -20px;
  color: #666;
  content: "”";
  font: 80px/0.25 Georgia,serif;
  position: absolute;
  right: -20px;
  z-index: 1;
}
.oval-quotes {
  /*background: #ffed26 none repeat scroll 0 0;
    border-radius: 100px / 100px;*/
  height: 100%;
  margin-top: 70px;
  position: relative;
}

//Docs

.docs-content {
  p {
    margin: 0 0 10px;
  }

  line-height: 25px;

  h2 {
    border-bottom: 1px solid #A0A0A0;
    margin-top: 22px;
    margin-bottom: 12px;
    padding-bottom: 5px;
    font-size: 25px;
  }

  h2:first {
    margin-top : 10px;
  }


  h3, .h3 {
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 30px;
  }

  .step-wizard .step-install, .step-wizard .step-setup,
  .step-wizard .item, .step-wizard .item h3 {
    display: none;
  }

  .step-wizard .step-no {
    background-color: $blue-logo;
    border-radius: 20px;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    width: 30px;
  }

  .step-wizard .step:first-child > h2 {
    margin-top: 0;
  }
}

.sidebar {
  margin-left : 5px;
  button {
    width : 80%;
    margin-bottom : 5px;
  }
  .actions-on-doc {
    text-align : center;
    margin-top : 10px;
  }
  .next-page {
    margin-top: 20px;
    display: none;
  }
}

a:focus {
  outline: 0;
}

.sidebar li:first-child {
  //margin-bottom: 20px;
}

.sidebar.affix-top {
  position: fixed;
  top: 235px;
}

.sidebar.affix {
  position: fixed;
  top: 120px;
}

.sidebar .nav {
  margin-left: 0;
}

.sidebar h2 {
  margin-left: 19px;
}

.sidebar .nav > li > a {
  display: block;
  padding: 2px 20px;
  font-size: 15px;
  color: #5D5E5A;
}

.sidebar .nav > .active > ul, .sidebar .nav > li:hover > ul {
  display: block;
}

.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  padding-left: 18px;
  background-color: transparent;
  border-left: 2px solid $blue-logo;
  color : #333;
}

.sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus {
  background-color: transparent;
  border-left: 1px solid $blue-logo;
  font-weight: bold;
  padding-left: 19px;
  text-decoration: none;
  color : #333;
}

.sidebar .nav .nav {
  display: none;
  padding-bottom: 10px;
}

.sidebar .nav .nav > li > a {
  font-size: 12px;
  font-weight: normal;
  padding-bottom: 1px;
  padding-left: 30px;
  padding-top: 1px;
}
.sidebar .nav .nav > li > a:hover, .sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}
.sidebar .nav .nav > .active > a, .sidebar .nav .nav > .active:hover > a, .sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
}

h1:target::before, .h1:target::before,
h2:target::before, .h2:target::before,
h3:target::before, .h3:target::before,
h4:target::before, .h4:target::before,
h5:target::before, .h5:target::before,
h6:target::before, .h6:target::before
{
  content: "";
  display: block;
  height: 70px;
  margin-top: -70px;
}
//Footer

.footer {
  border-top: 1px solid #e2e2e2;
  margin-top: 40px;
  padding: 40px 0;
  background: #161616 url("../images/pattern.png");
  color : white;
  font-family : 'Blender';
  padding-bottom: 52px;
  position: absolute;
  bottom: 0;
  width: 100%;

  a:first-child {
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
  }

  a:hover {
    color: #777;
  }
}

.verticalign {
  border-right: thick dashed #666;
  height: 100px;
}


.nav-title {
  font-size : 21px;
  margin-top : 15px;
}

#navigator {
  overflow-y : scroll;
  height: 98%;
  padding-bottom : 40px;
}

.navigator-fixed {
  position: fixed;
  top: 5px;
}

.nav-left {
  list-style-type : none;
  margin-left : 0px;
  margin-top: 2px;
  .main-active {
    color : #333;
    font-weight : bold;
  }

  & > li {
    padding : 3px 0px;
    margin-left: 10px;
  }
  & > li > a {
    color: #5D5E5A;
    font-size : 15px;
    &:hover {
      text-decoration : none;
      padding-bottom : 2px;
      border-bottom : 2px solid #5bc0de;
    }
  }
}

//All Of Fame

.container-contributors {
  margin: 20px 0 20px 0;

  .img-contributors {
    margin: 10px 0 10px 0;
    position: relative;

    .hover-contributor {
      display: none;
      position: absolute;
      left: 15px;
      top: 0;
      width: 230px;
      height: 230px;
      background-color: rgba(0, 0, 0, 0.6);

      p {
        color: white;
        text-align: center;

        &:first-child {
          margin-top: 83px;
        }
      }
    }

    img {
      height: 230px;
      width: 230px;
    }
  }

}

@media (min-width: 991px) and (max-width: 1199px) {
  .hover-contributor {
    width: 213px !important;
  }
}

@media (min-width: 991px) {
  .caret,
  .dropdown-menu,
  .nav-min-screen{
    display : none !important;
  }

  .nav-fullscreen {
    display : block !important;
  }
}

@media (max-width: 991px) {
  .nav-min-screen {
    display : block !important;
  }

  .nav-fullscreen {
    display : none !important;
  }


  .nav-left,
  #navigator,
  .navbar-right,
  .sidebar {
    display: none;
  }

  .btn-featured {
    display: block;
  }

  .btn-featured:not(:first-child) {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 820px) {
  .oval-quotes::before {
    left: 10px;
    top: -35px;
  }

  .oval-quotes::after {
    bottom: -20px;
    right: 40px;
  }
}

@media (max-width: 767px) {
  .docs-content {
    padding-left : 15px !important;
  }
  #search, #search-results {
    display: none;
  }
}

@media (max-width: 519px) {
  .docs-content {
    padding-left : 15px !important;
  }
  .container-contributors .container .row > .col-xs-6 {
    width: 100% !important;
  }
}
