.contact {	
	section:nth-child(7n + 1) {
		.section-wrapper {
			margin-bottom: 350px !important;
		}
	}
  section:nth-child(7n + 2) {
  	.section-background {
    	background: linear-gradient(100deg, #2d4d9c, #1c2f55) !important;
    }
    .section-wrapper {
			margin-bottom: 200px !important;
		}
  }
  .form-wrapper {
  	max-width: 640px;
  	background: #f7f7f7;
  	padding: 5px 30px;
  	margin: auto;
  	margin-top: -350px;
  }

  .form-field {
		margin: 30px 0;

		input, select {
			padding: 10px 20px;
			font-size: 18px;
		}

		input[type="email"], input[name="organizationName"] {
			width: calc(100% - 45px);
		}

		#firstName {
			margin-right: 20px;
		}

		#firstName, #lastName {
			width: calc(50% - 57px);
		}

		select {
			width: 100%;
			-webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background: rgba(255, 255, 255, 0.1);
	    border-radius: 0px;

	    &:invalid {
	    	color: gray;
	    }
		}
		
		img {
			float: right;
			margin-top: -25px;
			margin-right: 10px;
		}
	}

	@media #{$small-mobile} {
		.form-wrapper {
			padding: 5px 10px;
		}
		.form-field {

			#firstName {
				margin-bottom: 30px;
			}

			#firstName, #lastName {
				width: calc(100% - 45px);
			}
		}
	}

	.code-and-button {
		button {
			width: 100%;
			max-width: 700px;
			margin-top: 30px;
		}
	}
}