
footer {
  .section-wrapper {
    max-width: 1200px;
    margin: auto;
    margin-top: 154px;
    @media #{$mobile} {
      margin-top: 104px;
    }
  }

  .doc-links {
    color: rgba(255, 255, 255, 0.5);
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    grid-column-gap: 5%;

    .items-header {
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
      color: white;
    }

    a {
      padding-left: 0px !important;
    }

    a:hover {
      color: rgba(255, 255, 255, 1);
    }

    @media #{$mobile} {
      width: 100%;
      margin: 60px 0;
    }
  }

  .social-links {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 25px 0;
    padding: 15px 0 10px 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    align-items: center;
  }

  @media #{$not-mobile} {
    .button-border {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 40px;
      margin-bottom: -41px;
    }
  }

  .main-nav {
    padding-bottom: 40px;

    @media #{$mobile} {
      flex-direction: column;
    }

    .doc-links a {
      @media #{$small-mobile} {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

}

