
footer {
  .section-wrapper {
    margin-top: 154px;
    @media #{$mobile} {
      margin-top: 104px;
    }
  }

  .doc-links {
    color: rgba(255, 255, 255, 0.6);

    a:hover {
      color: rgba(255, 255, 255, 1);
    }

    @media #{$mobile} {
      margin: 60px 0;
    }
  }

  @media #{$not-mobile} {
    .button-border {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 40px;
      margin-bottom: -41px;
    }
  }

  .main-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 40px;

    @media #{$mobile} {
      flex-direction: column;
    }

    .doc-links a {
      @media #{$small-mobile} {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }

  .below-nav {
    display: flex;
    font-size: 0.9rem;
    justify-content: space-between;
    margin: 40px 0 24px 0;
    color: rgba(255, 255, 255, 0.6);

    @media #{$mobile} {
      flex-direction: column;
      align-items: center;
      height: 70px;
    }

    a {
      transition: color 0.4s;
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
      &:first-child {
        margin-right: 16px;
      }
      &:last-child {
        margin-left: 16px;
      }
    }
  }
}

