
.section-monitoring {
  .section-wrapper {
    margin-top: 133px;
    margin-bottom: 200px;
    @media #{$mobile} {
      margin-top: 80px;
      margin-bottom: 180px;
    }
  }

  .card-right {
    padding: 10px;

    img {
      width: 100%;
      display: block;
    }
    @media #{$mobile} {
      margin-bottom: 44px;
    }
  }
}
