<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <main class="post">
      <section class="section-hero">
        <div class="section-background">
          <div class="section-wrapper">
            <div class="left-vector"></div>
            <div class="right-vector"></div>
          </div>
        </div>
        <div class="section-wrapper">
          <h1>Content Page</h1>
        </div>
      </section>
      <section>
        <div class="section-background">
          <div class="section-wrapper"></div>
        </div>
        <div class="section-wrapper">
          <div class="content">
            <div class="container">
              <h1 class="align-center">{{ page.title }}</h1>
              <p class="align-center">{{ page.description }}</p>
            </div>
            {{ content }}
          </div>
        </div>
      </section>
      <section class="section-register">
        <div class="section-background">
          <div class="section-wrapper"></div>
        </div>
        {% assign recomended = "" | split: ',' %}

        {% for post in site.posts %}
          {% if post.categories == page.categories %}
            {% assign recomended = recomended | push: post %}
          {% endif %}
        {% endfor %}

        <div class="section-wrapper">
          <div class="section-title">Additional info</div>
          <div class="article-grid">
          {% for post in recomended limit:3 %}
              <div class="article-card">
                <img alt="Header graphic" src="{{ site.url }}/{{post.img}}" />
                <div class="text-part">
                  <div class="post-date">{{ post.date | date: '%B %d, %Y' }}</div>
                  <div class="post-title">{{ post.title }}</div>
                  <div class="post-description">{{ post.description }}</div>
                  <div class="code-and-button">
                    <a
                      href="{{post.url}}"
                      title="Register Now"
                      class="button big accent-border border-corners inner-shadows"
                    >
                      Read more
                    </a>
                  </div>
                </div>
              </div>
          {% endfor %}  
          </div>
          <h1>With PM2 Harden your Node.js Workload and be Ready to Scale</h1>
          <p>Setup takes 2 minutes with no configuration change</p>
          <div class="code-and-button">
            <a
              href="/docs/usage/quick-start/"
              title="Register Now"
              class="button big accent-border border-corners inner-shadows"
            >
              Register Now
            </a>
          </div>
        </div>
      </section>
    </main>
    {% include footer.html %}
    <script src="{{ site.url }}/assets/testimonials.js"></script>
    <script src="{{ site.url }}/assets/menu.js"></script>
  </body>
</html>
